{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'slt_web/css/slt_custom.css' %}">
</head>
<body>
  <div class="inner">
    <header>
      <a href="/"><img src="{% static 'slt_web/images/slt_bannar_1.png' %}" width="400" height="60" alt="SLT" /></a>
      

    </header>
  </div> 
  <div class="inner">    
    {% block content %}
    <div id="content-wrapper">
      <aside class="sidebar">
        <nav>
          <ul>
            <li>
              <a href="/about">About</a>
              <ul>
                
              </ul>
            </li>
            <li>
              <a href="/doc">Documentation</a>
              <ul>
                <li>
                  <a href="/docs">Reference</a>
                </li>
                <li>
                  <a href="/book">Book</a>
                </li>
                <li>
                  <a href="/videos">Videos</a>
                </li>
                <li>
                  <a href="/doc/ext">External Links</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/downloads" class="active">Downloads</a>
              <ul class="expanded">
                <li>
                  <a href="/downloads/guis">GUI Clients</a>
                </li>
                <li>
                  <a href="/downloads/logos" class="active">Logos</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/community">Community</a>
            </li>
          </ul>
          
            <hr class="sidebar">
            <div class="callout">
        <p>The entire <strong><a href="/book">Pro Git book</a></strong> written
        by Scott Chacon and Ben Straub is available to <a href="/book">read online for free</a>.
        Dead tree versions are available on <a href="https://www.amazon.com/Pro-Git-Scott-Chacon/dp/1484200772?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=1430218339&amp;linkCode=as2&amp;tag=git-sfconservancy-20">Amazon.com</a>.
        </p>
      </div>
      
          
        </nav>
      </aside>
      <div id="slt_content">
        <div id="slt_main">
          
          <h1>Logos</h1>
          <div class="two-column">
            <div class="column-left">
              <ul class="content-list">
                <li>
                  <a href=""><img src="/images/logos/2color-lightbg@2x.png" width="294" ,="" height="100"></a>
                  <h4>Full color Git logo for light backgrounds</h4>
                  <p class="description">
                    <a href="/images/logos/downloads/Git-Logo-2Color.png">PNG (bitmap)</a>
                    ·
                    <a href="/images/logos/downloads/Git-Logo-2Color.eps">EPS (vector)</a>
                    ·
                    <a href="/images/logos/downloads/Git-Logo-2Color.svg">SVG (vector)</a>
                  </p>
                </li>
                <li>
                  <a href=""><img src="/images/logos/1color-orange-lightbg@2x.png" width="294" ,="" height="100"></a>
                  <h4>Orange Git logo for light backgrounds</h4>
                  <p class="description">
                    <a href="/images/logos/downloads/Git-Logo-1788C.png">PNG (bitmap)</a>
                    ·
                    <a href="/images/logos/downloads/Git-Logo-1788C.eps">EPS (vector)</a>
                    ·
                    <a href="/images/logos/downloads/Git-Logo-1788C.svg">SVG (vector)</a>
                  </p>
                </li>
                <li>
                  <a href=""><img src="/images/logos/1color-lightbg@2x.png" width="294" ,="" height="100"></a>
                  <h4>One color Git logo for light backgrounds</h4>
                  <p class="description">
                    <a href="/images/logos/downloads/Git-Logo-Black.png">PNG (bitmap)</a>
                    ·
                    <a href="/images/logos/downloads/Git-Logo-Black.eps">EPS (vector)</a>
                    ·
                    <a href="/images/logos/downloads/Git-Logo-Black.svg">SVG (vector)</a>
                  </p>
                </li>
                <li>
                  <a href=""><img src="/images/logos/1color-darkbg@2x.png" width="294" ,="" height="100"></a>
                  <h4>One color Git logo for dark backgrounds</h4>
                  <p class="description">
                    <a href="/images/logos/downloads/Git-Logo-White.png">PNG (bitmap)</a>
                    ·
                    <a href="/images/logos/downloads/Git-Logo-White.eps">EPS (vector)</a>
                    ·
                    <a href="/images/logos/downloads/Git-Logo-White.svg">SVG (vector)</a>
                  </p>
                </li>
              </ul>
            </div>
            <div class="column-right">
              <ul class="content-list">
                <li>
                  <a href=""><img src="/images/logos/logomark-orange@2x.png" width="100" ,="" height="100"></a>
                  <h4>Orange logomark for light backgrounds</h4>
                  <p class="description">
                    <a href="/images/logos/downloads/Git-Icon-1788C.png">PNG (bitmap)</a>
                    ·
                    <a href="/images/logos/downloads/Git-Icon-1788C.eps">EPS (vector)</a>
                    ·
                    <a href="/images/logos/downloads/Git-Icon-1788C.svg">SVG (vector)</a>
                  </p>
                </li>
                <li>
                  <a href=""><img src="/images/logos/logomark-black@2x.png" width="100" ,="" height="100"></a>
                  <h4>Black logomark for light backgrounds</h4>
                  <p class="description">
                    <a href="/images/logos/downloads/Git-Icon-Black.png">PNG (bitmap)</a>
                    ·
                    <a href="/images/logos/downloads/Git-Icon-Black.eps">EPS (vector)</a>
                    ·
                    <a href="/images/logos/downloads/Git-Icon-Black.svg">SVG (vector)</a>
                  </p>
                </li>
                <li>
                  <a href=""><img src="/images/logos/logomark-white@2x.png" width="100" ,="" height="100"></a>
                  <h4>White logomark for dark backgrounds</h4>
                  <p class="description">
                    <a href="/images/logos/downloads/Git-Icon-White.png">PNG (bitmap)</a>
                    ·
                    <a href="/images/logos/downloads/Git-Icon-White.eps">EPS (vector)</a>
                    ·
                    <a href="/images/logos/downloads/Git-Icon-White.svg">SVG (vector)</a>
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div id="logo-license">
            <p>
              <img src="/images/creative-commons.png">
              Git Logo by <a href="https://twitter.com/jasonlong">Jason Long</a> is licensed under the <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
            </p>
            <p>
              This license lets others distribute, remix, tweak, and build upon your work, even commercially, as long as they credit you for the original creation. This is the most accommodating of the CC licenses offered. Recommended for maximum dissemination and use of licensed materials.
            </p>
          </div>
        </div>
      </div>
    </div>   
    {% endblock %} 

  </div>

</body>
</html>